<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>animals in the pack</h1>
    <% for(let type of animals){ %>
        <p> <%= type.type%> <br><%=type.createdAt%></p>
        <form action="/delete/<%=type.id %>" method="POST">

            <input type="submit" value="Delete this Animal">
        </form>
        <form action="/edit/<%=type.id %>">
            <input type="submit" value="Edit this Animal">
        </form>
        <form action="/view/<%=type.id %>">
            <input type="submit" value="View this Animal">
        </form>

    <br>
    <% } %>

    <form action="/add">
        <input type="submit" value="Add new Animal">
    </form>
</body>
</html>